:root {
  --color-purple: #5d095d;
  --color-dark-grey: #44473f;
  --color-light-grey: #e5e5e5;

  --color-primary-500: #962cb9;
  --color-primary-700: #8521a7;
  --color-secondary: #1441ab;
  --color-warning: #dfa425;
}
