<header class="sb-header">
  <div class="sb-header-container">
    <h1 class="display-3">Superboots</h1>
    <nav class="sb-header-nav">
      <ul class="h4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>