.Article-root-GS1vOh {
  padding: 24px;
}
.Header-root-z-F5p1 {
  display: flex;
  background-color: var(--color-purple);
  justify-content: center;
  align-items: center;
}

.Header-h1-W1_psU {
  color: white;
  font-family: var(--font-family-heading);
}

.Header-ul-ApTwIy {
  display: flex;
  gap: 12px;
}

.Header-li-vcrUzC {
  list-style: none;
}
.Header-li-vcrUzC a {
  color: var(--color-light-grey);
}