@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto&display=swap");
:root {
  --color-purple: #5d095d;
  --color-dark-grey: #44473f;
  --color-light-grey: #e5e5e5;
  --color-primary-500: #962cb9;
  --color-primary-700: #8521a7;
  --color-secondary: #1441ab;
  --color-warning: #dfa425;
}

:root {
  --font-family-heading: "Gochi Hand", cursive;
  --font-family-body: "Roboto", sans-serif;
}

.h1 {
  font-size: 60px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 36px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.button {
  font-family: var(--font-family-heading);
  border: none;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:active, .button:hover:active {
  background-color: red;
}

.button-primary {
  background-color: var(--color-primary-500);
  color: white;
}
.button-primary:hover {
  background-color: var(--color-primary-700);
}

.button-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.button-warning {
  background-color: var(--color-warning);
  color: black;
}

:root {
  font-family: var(--font-family-body);
  color: var(--color-dark-grey);
}